<html>
<head>
    <title>Internet Shop</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td, th {
            border: 1px solid #999;
            padding: 5px;
        }
    </style>
</head>
<body>
<h2>Product Details</h2>
<table>
    <tr>
        <th>Prod. ID</th>
        <th>Color</th>
        <th>Description</th>
    </tr>

    {{#productDetails}}
        <tr>
            <td>{{id}}</td>
            <td>{{color}}</td>
            <td>{{description}}</td>
        </tr>
    {{/productDetails}}

</table>
</body>
</html>